$color-primary: #e55137;
$color-white: #fff;
$color-black: #000;
$section-hover: #faf3f3;
$footer-top: #121212;
$footer-bottom: #000000;
$transition: all 0.5s ease;

$font-bebas: 'Bebas Neue', cursive;
$font-sora: 'Sora', sans-serif;
$shadow: 0 1rem 3rem rgba(57, 56, 61, 0.205);
