/* Reset and Base Styles */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth !important;
}

html {
	background-color: #000000;
	color: #fff;
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #373842 #000; /* For Firefox */
	scroll-behavior: smooth !important;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	text-transform: none;
	overflow: auto; /* Ensure the body is scrollable */
}
