.globe-container {
	position: relative;
	width: 80vw;
	height: 80vh;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.globe-icon {
	position: absolute;
	width: 40px;
	height: 40px;
	transform-style: preserve-3d;
	transition: transform 0.1s linear;
}
